nav, nav *{
    background-color: rgba(41, 57, 73, 0.235);
}

.__section-one ,
.__section-one  *{
    background-color: rgba(26, 188, 156, 0.297);
}

.__section-two ,
.__section-two  *{
    background-color: rgba(0, 0, 0, 0.151);
}